---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.bird-main-container {
  z-index: 1;
  position: relative;
  overflow: hidden; // display: flex;
  // align-items: center; // justify-content: center; // min-height: 100vh; // min-height: 6rem;
  @include media-query(900) {
    min-height: 35rem;
  }
  background-image: linear-gradient(
      to bottom,
      rgba(255, 168, 76, 0.6) 0%,
      rgba(255, 123, 13, 0.6) 100%
    ),
    url("https://images.unsplash.com/photo-1446824505046-e43605ffb17f");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
  padding: 2em;
}
.wrapper {
  z-index: 1;
}
.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  &--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
  }
  &--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
  }
  &--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
  }
  &--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
  }
}
.bird-container {
  z-index: 0;
  position: absolute;
  top: -10%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  &--one {
    animation-duration: 15s;
    animation-delay: 0;
  }
  &--two {
    animation-duration: 16s;
    animation-delay: 1s;
  }
  &--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
  }
  &--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
  }
}
@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
$link-font-family: "Arima Madurai", cursive !important; // @import url('https://fonts.googleapis.com/css?family=Bitter:700'); // $link-font-family:'Bitter', serif; /* / H1 heading */
h1 {
  font-family: $link-font-family;
  margin-bottom: 0px;
  font-size: 2rem;
  @include media-query(800) {
    font-size: 4rem;
  }
  letter-spacing: -3px;
  position: relative;
  z-index: 3;
} /* / link style */
.highlight {
  z-index: 3;
  font-family: $link-font-family;
  font-weight: bold;
  line-height: 1.4 !important;
  padding: 10px 5px 2px 5px;
  display: inline-block;
  color: #343434 !important;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none !important; // text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  background: none;
  position: relative;
  z-index: 0;
  &::after {
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 100%;
    height: 3px;
    background-color: #343434;
    transition: all 250ms;
  }
  &:hover {
    color: white !important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    &::after {
      height: 105%;
      width: 105%;
    }
  }
} // @import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed"); // body { // font-family: "Saira Extra Condensed", sans-serif; // letter-spacing: 1px; // -webkit-font-smoothing: antialiased; // -moz-osx-font-smoothing: grayscale; // } // header { // background-image: linear-gradient( // to bottom, // rgba(0, 0, 0, 0.75) -10%, // rgba(0, 0, 0, 0) 100% // ); // text-align: center; // padding: 0.5rem 0 5rem; // font-size: 1.25rem; // } // ul { // list-style: none; // margin: 0; // padding: 0; // } // li { // display: inline-flex; // }
