.App {
  background-color: #000000;
  min-height: 100vh;
  color: white;
  z-index: 0;
}
.Content {
  z-index: 10;
}
.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Tag {
  margin-right: 5px;
  color: gray;
}
